<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <link rel="stylesheet" href="{% static '2.css' %}">
    <script src="{% static  '1.js' %}" defer></script>
</head>
<body>

<div id="radiobells_container"><a id="RP_link">Онлайн радио</a>
</div>
<link href="https://www.radiobells.com/script/style.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript">var rad_backcolor = "#434242";
var rad_logo = "black";
var rad_autoplay = false;
var rad_width = "responsive";
var rad_width_px = 330;
var rad_stations = [['https://ep256.hostingradio.ru:8052/europaplus256.mp3',
    'Европа плюс', 'europaplus'], ['https://pub0101.101.ru/stream/air/aac/64/100',
    'Авторадио', 'avtoradio'], ['https://rusradio.hostingradio.ru/rusradio96.aacp',
    'Русское радио', 'russradio'], ['https://radiorecord.hostingradio.ru/sd9096.aacp',
    'Супердискотека 90-х', 'super90'], ['https://listen1.myradio24.com/6262',
    'Спокойное радио', 'spokoinoe'], ['https://icecast-vgtrk.cdnvideo.ru/rrzonam_mp3_192kbps',
    'Радио России', 'radiorossii']];</script>
<script type="text/javascript" src="https://www.radiobells.com/script/v2_1.js" charset="UTF-8"></script>

<h1>Корзина</h1>
<header>
    <a href="{% url 'home' %}">Главная</a>
    <a href="{% url 'tocart' %}">Корзина</a>
</header>
<table>
    {% for one in tovari %}
        <tr>
            <td>
                <button>{{ one.tovar.name }}</button>
            </td>
            <td><a href="{% url 'count' -1 one.id %}">
                <button> -</button>
            </a></td>
            <td>
                <button>{{ one.count }}шт</button>
            </td>
            <td><a href="{% url 'count' 1 one.id %}">
                <button> +</button>
            </a></td>
            <td>
                <button>{{ one.summa }}р</button>
            </td>
            <td><a href="{% url 'delete' one.id %}">
                <button>Удалить</button>
            </a></td>
        </tr>
    {% endfor %}
</table>
<h2>Итог {{ total }}р</h2>
<hr>

<button id="formbut">Оформить</button>
<div id="formdiv" hidden>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ formaorder }}
        <input type="submit" value="Отправить">
    </form>
</div>

</body>
</html>