<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <link rel="stylesheet" href="{% static '2.css' %}">
</head>
<body>
    <h2>Корзина</h2>
    <header>
        <a href="{% url 'home' %}">Главная</a>
        <a href="{% url 'tocart' %}">Корзина</a>
    </header>
    <table>
        {% for one in tovari %}
            <tr>
               <td>{{ one.tovar.name }}</td>
                <td><a href="{% url 'count' -1 one.id %}">
                    <button> - </button>
                </a> </td>
               <td>{{ one.count }}шт</td>
                <td><a href="{% url 'count' 1 one.id %}">
                    <button> + </button>
                </a> </td>
               <td>{{ one.summa }}р</td>
               <td><a href="{% url 'delete' one.id %}">
                   <button>Удалить</button>
               </a> </td>
            </tr>
        {% endfor %}
    </table>
    <h2>Итог {{ total }}р</h2>
</body>
</html>